/*Fonts*/

@font-face {
    font-family: 'Persona 5-1'; 
    src: url(./fonts/Persona5MenuFontPrototype-Regular.ttf);
}
@font-face {
    font-family: 'Persona 5-2';
    src: url(./fonts/Expose-Regular.otf);
}

@font-face {
    font-family: 'Persona 5-3';
    src: url(./fonts/HEAVYHEA.TTF);
}
body {
    margin: 0;
    font-family: 'Persona 5-1';
    font-weight: bold;
    background: url(./img/Persona_5_Themed_Background.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    color: black;
    font-size: larger;
}
h1 {
    color: white;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    text-align: center;
}
p { 
    color: white;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;

}
/*Container*/
.container {
    width: auto;
    height: auto;
    font-family: 'Persona 5-1';
    font-weight: bold;
    font-size: 20px;
}
/*Root zorgt ervoor dat ik een kleur heb die ik kan terugbrengen met een naam zoals:
 background: var(--background)
 */
:root {
    --background: rgba(255, 183, 183, 0.4);
} 
/*Header en Nav*/
header {
    background:var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 10%;
}

.nav-toggle {
    display:none;
}

.nav-toggle-label {
    position: absolute;
    top:0;
    left:0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}
 /*Hieronder zijn de drie streepjes die gebruikt worden voor de Nav Bar links boven*/
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}



/*Navigatie Bar*/
.Nav {
    margin-right: 17%;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background); 
    width: 100%;
    transform: scale(1,0); /*Veranderd de grote van het element. Onder de 1.0 is kleiner. Geen display, want met transform kan ik transitions gebruiken.*/
    transform-origin: top; /*Zorgt ervoor dat de animatie plaats vind op de goede plek*/
    transition: transform 400ms ease-in-out; /*Squishy animatie voor nav*/
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    text-decoration: none;
    font-size: 1.2rem ;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out; /*Zorgt ervoor dat de transition er ook is als ik het weg klik*/
}

nav a:hover {
    color: #000;
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}
.nav-toggle:checked ~ nav { /*De '~' looks for any preceeding sibling, it doesn't have to be immediantly after*/
transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1; 
    transition: opacity 250ms ease-in-out 250ms; /*Tweede 250ms is een delay van de animatie/ opacity van Nav*/
}

/*Informatie over mij/ Mijn Portfolio Content*/
/*Images*/

#Start {
    padding-top: 10%;
}

.logo_portfolio {
    width: 80px;
    height: 80px;
    border: 3px solid red;
    border-radius: 5px;
}

#Personally {
    background: rgb(189, 189, 189);
    padding: 1%;
    border: 2px solid black;
    border-radius: 50px;
    margin: 5%;
    width: 36%;
    clear: both;
    float: right;
}
.Selfie
 {
    width: 36%;
    margin: 5%;
    margin-left: 34%;
    border: 2px solid black;
    border-radius: 50px;
    display: inline-block;
    clear: both;
}
#Work {
    background: rgb(189, 189, 189);
    padding: 1%;
    border: 2px solid black;
    border-radius: 50px;
    margin: 5%;
    margin-left: 10.5%;
    width: 33.8%;
    height: 100%;
    clear: both;
    float: left;  
}

.Ann {
    width: 36%;
    height: 450px;
    margin: 5%;
    border: 2px solid black;
    border-radius: 50px;
    display: inline-block;
    float: right;
}

#Projects {
    background: rgb(189, 189, 189);
    padding: 1%;
    border: 2px solid black;
    border-radius: 50px;
    margin: 5%;
    width: 90%;
    height: 100%;
    clear: both; 
}
.Haru {
    width: 38%;
    height: 450px;
    margin: 5%;
    border: 2px solid black;
    border-radius: 50px;
    display: inline-block;
    float: left;
}

#Contact {
    background: rgb(189, 189, 189);
    padding: 1%;
    border: 2px solid black;
    border-radius: 50px;
    margin: 5%;
    width: 36%;
    clear: both;
    float: right;
}

.Sumire {
    width: 36%;
    margin: 5%;
    margin-left: 10.5%;
    border: 2px solid black;
    border-radius: 50px;
    display: inline-block;
}

.MyContacts {
    text-decoration: none;
    color: black;
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
    margin-left: 35%;
}

.MyContacts:hover {
    color: red;
    text-decoration: underline;
}
  /*Media Query voor Responsive Nav Groot Scherm*/

  @media screen and (min-width: 1120px) {
    .nav-toggle-label {
        display: none;
  }
  
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  .logo {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav a {
    opacity: 1;
    position: relative;
  }
  nav a::before { /*Hover animatie bij Nav balk*/
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  nav a:hover::before {
    transform: scale(1,1);
  }
  nav ul {
    display: flex; /*Maakt de nav content horizontaal inplaats van verticaal*/
    justify-content: flex-end;/*Schuift het naar het einde van de column in grid*/
  }

  nav li {
    margin-bottom: 0;
    margin-left: 2em;
  }
}

/*Responsive voor klein scherm: Voornamelijk Lay-Out*/

@media screen and (max-width: 1120px) {
    .Ann, .Haru, .Selfie
    , .Sumire {
        display: none;
      }
    #Start {
        padding-top: 25%;
    }
    #Projects, #Work, #Personally {
        width: auto;
        height: auto;
        text-align: center;
    }
    #Contact {
        float: left;
        margin-left: 34.5%;
        text-align: center;
    }
    .MyContacts {
        margin: 0%;
    }
    .logo_portfolio {
        width: 80px;
        height: 80px;
        float: left;
        margin-left: 8%;
    }
}

/*Social Media*/

.Social-Media {
    text-align: center;
    margin-top: 10%;
}

.Contact-Info {
   border: 5px solid black;
   border-radius: 15%;
}